<!-- <ul class="list-unstyled">
  <li *ngFor="let item of data; let i=index;">
      <span (click)="toggle(item)" style="cursor:pointer; font-size: 13px;">
          <i class="fa" [ngClass]="{'fa-minus': item.isOpen, 'fa-plus': !item.isOpen}"></i>
          {{item.name}}
      </span>
      <ul *ngIf="item.isOpen">
          <li *ngFor="let child of item.children; let i2=index;">
                  {{child.name}}
          </li>
      </ul>
  </li>
</ul> -->
<div>
    <!-- <app-flat-node-tree></app-flat-node-tree> -->
    <!-- <app-nested-tree-example></app-nested-tree-example> -->
    <!-- <app-tree-nested-overview-example-comonent></app-tree-nested-overview-example-comonent> -->
    <!-- <app-final-tree></app-final-tree> -->
    <h1>asdf</h1>
    <app-flated-dynamic-tree></app-flated-dynamic-tree>
    
</div>