registry=https://jfrog.ford.com/artifactory/api/npm/devenablement-wame-npm-virtual/
//jfrog.ford.com/artifactory/api/npm/devenablement-wame-npm-virtual/:_auth=${JFROG_AUTH_TOKEN_WAME_NPM}
email=${JFROG_AUTH_EMAIL}
always-auth=true
PLAYWRIGHT_BROWSERS_PATH=0
sonar_binary_cache=./node_modules/sonarqube-scanner
https-proxy=http://proxy-server.com:8080/
